.about .content {
  display: flex;
  justify-content: center;
}
  
.about .image {
  width: calc(50% - 25px);
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
}

#propic {
  width: 300px;
  border-radius: 10px;
}

.about .container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 25px);
  max-width: 500px;
}

.about .contact-menu i {
  font-size: 32px;
  margin: 10px 10px 0 0;
}

@media screen and (max-width: 750px) {
  .about .content {
    flex-direction: column;
    align-items: center;
  }

  .about .image {
    width: 100%;
    justify-content: center;
  }

  #propic {
    width: 50%;
    min-width: 250px;
    max-width: 300px;
  }

  .about .container {
    width: 50%;
    min-width: 250px;
    max-width: 300px;
    margin: 0;
    flex-direction: column-reverse;
  }

  .about .text {
    margin-top: 30px;
    text-align: center;
  }
}
