.timeline {
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-image: linear-gradient(#d0368a, #708ad4);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
}

.work .container {
  padding: 30px;
  position: relative;
  background-color: #1d2632;
  width: calc(50% - 100px);
  border-radius: 10px;
}

/* Circles */
.work .container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -50px;
  background-color: white;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.work .left {
  left: 0;
}

.work .right {
  left: calc(50% + 40px);
}

/* Arrows */
.work .left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
  right: -10px;
  border: medium solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #1d2632;
}

/* Arrows */
.work .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #1d2632 transparent transparent;
}

/* Circles on the right */
.work .right::after {
  left: -50px;
}

.work .subcontainer {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .timeline::after {
    left: 30px;
  }

  .work .container {
    width: calc(100% - 157px);
    left: 70px;
    margin-top: 30px;
  }

  .work .container::before {
    left: -10px;
    border: medium solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1d2632 transparent transparent;
  }

  .work .left::after, .work .right::after {
    left: -50px;
  }
}

@media screen and (max-width: 750px) {
  .timeline::after {
    left: 10px;
  }

  .work .container {
    width: calc(100% - 110px);
    left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .work .subcontainer {
    display: initial;
  }
}
