:root {
    --font-size: 16px;
    --line-height: 1.75;
    --bg-color: #121212;
    --body-margin: 40px;
    --max-width: 1200px;
    --table-title-width: 200px;
    --size-factor: 1;
    --big-margin: calc(40px * var(--size-factor));
    --medium-margin: calc(25px * var(--size-factor));
    --small-margin: calc(15px * var(--size-factor));
    --big-fa: calc(32px * var(--size-factor));
    --small-fa: calc(24px * var(--size-factor));
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.87);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(80px * var(--size-factor));
    background-color: var(--bg-color);
}

main {
    width: calc(100% - 2 * var(--body-margin));
    max-width: var(--max-width);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(2 * var(--big-margin));
}

p:not(:last-child) {
    margin-bottom: var(--small-margin);
}

code {
    font-family: 'Cascadia Code', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.05);
}

#logo {
    opacity: 0.87;
    height: calc(50px * var(--size-factor));
}

#home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 900px;
    max-height: min(100vh, 200vw);
}

#self-intro {
    margin-bottom: var(--medium-margin);
}

#projects-list {
    width: 100%;
}

#slider-button-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.no-caret {
    caret-color: transparent;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2 * var(--body-margin));
    max-width: var(--max-width);
}

.nav-item {
    margin-left: var(--big-margin);
    text-decoration: none;
    cursor: pointer;
}

.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.section-title {
    line-height: 1.2;
}

#home .section-title {
    font-size: max(min(60px, calc((100vw - 2 * var(--body-margin)) * 0.09)), 32px);
}

section .section-title {
    margin-bottom: var(--big-margin);
    font-size: 32px;
}

.section-content {
    width: 100%;
}

.table-row {
    display: flex;
    align-items: flex-start;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: var(--big-margin);
    width: var(--table-title-width);
}

.table-content {
    width: calc(100% - var(--big-margin) - var(--table-title-width));
}

.ul-bullet {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: calc(var(--font-size) * var(--line-height));
}

.ul-item {
    display: flex;
}

.small-margin {
    margin-bottom: var(--small-margin);
}

#about .table-row:not(:last-child) {
    margin-bottom: var(--medium-margin);
}

#about .table-title i {
    margin-right: 10px;
    font-size: var(--small-fa);
}

#about .table-content {
    display: flex;
    flex-wrap: wrap;
}

#about .ul-item {
    margin-right: 20px;
}

#experience .table-row:not(:last-child) {
    margin-bottom: var(--big-margin);
}

.projects-item:not(:last-child) {
    margin-bottom: var(--big-margin);
}

.project-title {
    margin-bottom: var(--medium-margin);
}

.project-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.project-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--big-margin);
    width: calc((100% - var(--big-margin)) * 0.6);
    padding-bottom: calc((100% - var(--big-margin)) * 0.3375)
}

.project-img img {
    position: absolute;
    top: 0;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.project-description {
    width: calc((100% - var(--big-margin)) * 0.4);
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin-bottom: 6px;
    margin-right: 6px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 14px;
    line-height: 1.2;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: var(--body-margin) 0;
    width: calc(100% - 2 * var(--body-margin));
    max-width: var(--max-width);
    height: calc(100% - 2 * var(--body-margin));
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact div {
    display: flex;
    align-items: center;
}

.contact i {
    margin-right: 10px;
    font-size: var(--small-fa);
}

.social-media i {
    margin-left: 10px;
    font-size: var(--big-fa);
}

.copyright {
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 930px) {
    .project-content {
        flex-direction: column;
    }

    .project-img {
        margin-bottom: var(--medium-margin);
        margin-right: 0;
        width: 100%;
        padding-bottom: 56.25%
    }

    .project-description {
        width: 100%;
    }
}

@media screen and (max-width: 825px) {
    .nav-list {
        visibility: hidden;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --font-size: 14px;
        --body-margin: 20px;
        --size-factor: 0.8;
    }

    footer {
        height: 200px;
    }

    section .section-title {
        font-size: 26px;
    }

    .table-row {
        flex-direction: column;
    }

    .table-title {
        justify-content: flex-start;
        margin-bottom: var(--small-margin);
        margin-right: 0;
        width: auto;
    }

    .table-content {
        width: 100%;
    }

    .tag {
        font-size: 12px;
    }
}
