$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 480px;

$font-size: 16px;
$line-height: 1.75;
$header-size: 80px;
$big-margin: 40px;
$medium-margin: 25px;
$small-margin: 15px;

:root {
    --body-margin: 50px;

    @media screen and (max-width: $mobile-width) {
        --body-margin: 20px;
    }
}

@mixin set-body-margin($vertical-margin) {
    margin: $vertical-margin var(--body-margin);
    width: calc(100% - 2 * var(--body-margin));
}

* {
    transition: background-color 0.2s, color 0.2s;
    margin: 0;
    box-sizing: border-box;
    font-size: $font-size;
    color: #212121;
}

code {
    font-family: 'Cascadia Code', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

p {
    line-height: $line-height;

    &:not(:last-child) {
        margin-bottom: $small-margin;
    }
}

.floating {
    box-shadow: 0 0 10px rgba(#000000, 0.1);
}

.rounded-corner {
    border-radius: 10px;
}

.download-button {
    border: 1px solid #e0e0e0;
    padding: 15px 25px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #f2f2f2;
    }
}

.card-padding {
    padding: 20px 25px;

    @media screen and (max-width: $mobile-width) {
        padding: 20px;
    }
}

.icon-button-list {
    display: flex;
    align-items: center;
    gap: $small-margin;
}

.secondary-text {
    color: #9e9e9e;
}
