@use '@/app/globals';

.skill-table {
    margin-top: globals.$medium-margin;

    .table-item {
        &:not(:last-child) {
            margin-bottom: globals.$medium-margin;
        }

        .table-item-content {
            display: flex;
            flex-wrap: wrap;
            gap: globals.$medium-margin;
        }
    }
}
