@use '@/app/globals';

.experience-table .table-item {
    padding-left: 0;

    &:not(:last-child) {
        margin-bottom: globals.$big-margin;
    }

    @media screen and (max-width: globals.$tablet-width) {
        padding-left: 25px;
    }

    @media screen and (max-width: globals.$mobile-width) {
        padding-left: 20px;
    }
}
