@use '@/app/globals';

.game-entity {
    cursor: pointer;
    font-size: min(5vw, 60px);

    &:hover {
        color: #1769aa;
    }

    @media screen and (max-width: 1299px) {
        cursor: auto;
    }

    @media screen and (max-width: globals.$mobile-width) {
        font-size: 7.9vw;
    }
}
