@use '@/app/globals';

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    max-height: 900px;
}

.home-intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: globals.$small-margin;
    margin-right: globals.$big-margin;
    width: 600px;
}

.download-button {
    border: 1px solid #e0e0e0;
    padding: 15px 25px;
    text-decoration: none;

    &:hover {
        background-color: #f2f2f2;
    }
}

#pfp {
    width: 384px;
    image-rendering: pixelated;
}
