@use '@/app/globals';

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .floating {
        display: flex;
        align-items: center;
        height: 540px / 16 * 9;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: globals.$big-margin;
        }

        .project-image {
            width: 540px;
            line-height: 0;
        }

        .project-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            gap: globals.$medium-margin;
            margin: globals.$medium-margin;

            .tag-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .floating {
                    padding: 6px 10px;
                    background-color: rgba(#ffffff, 0.4);
                    font-size: 14px;
                }
            }

            & > .tag-list {
                justify-content: center;
            }

            .overlay-content {
                width: 100%;
                max-width: 1024px;

                img {
                    margin: globals.$medium-margin 0;
                }

                .tag-list,
                .icon-button-list {
                    margin-bottom: globals.$small-margin;
                }
            }
        }

        @media screen and (max-width: globals.$laptop-width) {
            flex-direction: column;
            width: 100%;
            height: auto;
            max-width: 550px;

            .project-image {
                width: 100%;
            }
        }
    }
}
